<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Trabalho de Comunicação de Dados</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <style type="text/css">
        table thead tr th,  table tbody tr td {
            border: 1px solid #337ab7 !important;
            padding: 2px !important;
        }
    </style>
</head>
<body>

    <div class="container-fluid" style="padding-top: 10px" ng-controller="Principal as vm">
        <div class="panel panel-primary">
            <div class="panel-heading">Trabalho de Comunicação de Dados - 2018/01</div>
            <div class="panel-body">
                <form novalidate name="formulario">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Mensagem:</label>
                                <input type="text" class="form-control" placeholder="Informe um texto para transmitir" required ng-model="vm.model.mensagem">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Frequência do Sinal (HZ):</label>
                                <input type="number" class="form-control" placeholder="Informe a frequência do sinal em HZ" required ng-model="vm.model.frequencia">
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row" style="margin-top: 5px;" ng-if="vm.model.mensagemSaida.length > 0">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10%; vertical-align: middle; background-color: #b1c6d7;">
                                        Binário: 
                                    </th>
                                    <th>
                                        <span ng-repeat="dados in vm.model.mensagemSaida">
                                            {{ dados.binario}}&nbsp;
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="col-md-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="background-color: #b1c6d7;">Caractere</th>
                                    <th style="background-color: #b1c6d7;">Código ASCII</th>
                                    <th style="background-color: #b1c6d7;">Binário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dados in vm.model.mensagemSaida">
                                    <td>{{ dados.letra }}</td>
                                    <td>{{ dados.ascii}}</td>
                                    <td>{{ dados.binario }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-12">
                            <img style="width: 100%;" src="backend/graficoListaBits.php?binario={{ vm.model.stringBinarioSemEspaco }}">
                        </div>
                        <div class="col-md-12" style="margin-top: 3px;">
                            <img style="width: 100%;" src="backend/graficoASK.php?binario={{ vm.model.stringBinarioSemEspaco }}&frequencia={{ vm.model.frequencia }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

    <script type="text/javascript" src="src/app/app.module.js"></script>
    <script type="text/javascript" src="src/app/main.js"></script>
</body>
</html>